{% extends "layout.html" %}
{% block content %}
<div style="text-align:center; padding-top: 70px;">
  <h2><img src="static/images/logo.png"></h2>
  <p>
  <h3>Nums2money helps to give advice on company stocks based on tweets about the company</h3>
  </p>
  <form action="{{ url_for('home') }}" method="post">
    Please Choose Company:
    <select name="co-select">
      <option value="none" selected disabled hidden>Select</option>
      <option value="fbf">Facebook(Feed)</option>
      <option value="fba">Facebook(All)</option>
      <option value="apf">Apple(Feed)</option>
      <option value="apa">Apple(All)</option>
      <option value="amf">Amazon(Feed)</option>
      <option value="ama">Amazon(All)</option>
      <option value="nef">Netflix(Feed)</option>
      <option value="nea">Netflix(All)</option>
      <option value="gof">Google(Feed)</option>
      <option value="goa">Google(Alll)</option>
    </select>
    <input type="Submit" value="Submit">

  </form>

  <div>
      <h1>{{ title }}</h1>
    {{ plot }}
  </div>
</div>
{% endblock %}
